# Entorno y Servidor
PORT=3001
NODE_ENV=development

# Base de Datos (Neon Cloud PostgreSQL)
NEON_DB_URL="postgresql://neondb_owner:password@ep-ejemplo.us-east-2.aws.neon.tech/neondb?sslmode=require&connect_timeout=30"

# Seguridad y Autenticación (JWT)
JWT_SECRET=tu_secreto_super_seguro_cambiar_en_produccion_minimo_32_caracteres
JWT_EXPIRACION=1d

# Integración Frontend / CORS
FRONTEND_URL=http://localhost:5173
